.Navbar {
  display: flex;

  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 70px;
  z-index: 1;

  /* Animation */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-title {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.Navbar a {
  text-decoration: none;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
}

.nav_black {
  background-color: #111;
}
